script(src!=`${RootDirectory}vendor/jquery/jquery-3.2.1.min.js`)
script(src!=`${RootDirectory}vendor/bootstrap/js/popper.js`)
script(src!=`${RootDirectory}vendor/bootstrap/js/bootstrap.min.js`)
script(src!=`${RootDirectory}assets/js/bandle.min.js`)
