/* Include fonts
   ========================================================================= */

/**
 * Roboto
 */
//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

// Example include webfont
// @include fontFace('Font name', 'filename', 'font-weight-normal', 'font-style-normal', 'woff2')

@font-face {
   font-family: "Montserrat";
   src:url(../assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
   font-family: "OpenSans-Medium";
   src:url(../assets/fonts/OpenSans-Medium.ttf);
}
@font-face {
   font-family: "legendec";
   src:url(../assets/fonts/legendec-plain.ttf);
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWtE6F15M.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

