//-header section  start
header.header.container-fluid.mx-auto.d-flex.flex-nowrap
    .logo.col-2.h-100.d-flex.justify-content-center.align-items-center
        img(src!=`${RootDirectory}assets/images/main-img/logo/logo.png`, alt)
    menu.main-menu.col-8.d-flex.flex-row.justify-content-center.align-items-center
        li
            a(href='...') Главная
        li
            a(href='...') портфолио
        li
            a(href='...') блог
        li
            a(href='...') Онлайн чат
        li
            a(href='...') каталог услуг
        li
            a(href='...') О нас
        li
            a(href='...') Команда
        li
            a(href='...') Контакты
    .additional-elements.col-2.h-100.d-flex.justify-content-center.align-items-center
        a.button-offer(href) Оставить заявку
//-header section  end